<div class="col-md-3">
  <div class="sidebar-widget">
    <div class="blog-search">
        <%= form_tag(posts_path, :method => "get", id: "search-form") do %>
          <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search for a post entry..." %>
            <span>
              <button type="submit" id="submit_btn" class="search-submit">
                <i class="fa fa-search"></i>
              </button>
            </span>
        <% end %>
    </div>
  </div>

  <div class="sidebar-widget">
    <h4 class="sidebar-title">Categories</h4>
    <ul>
      <!-- Show all categories here -->
      <% @categories.each do |category| %>
        <li>
          <%= category.name %> (<%= category.id %>)
          <!-- Edit/Delete admin only -->
          <% if current_user.try(:admin?) %>
            <%= link_to edit_category_path(category), class: "btn btn-default btn-xs" do %>
              <i class="fa fa-pencil" aria-hidden="true"></i>
            <% end %>

            <%= link_to category, class: "btn btn-danger btn-xs", method: :delete, data: { confirm: "You sure?" } do %>
              <i class="fa fa-trash-o" aria-hidden="true"></i>
            <% end %>
          <% end %>
        </li>

      <% end %>
    </ul>
  </div>
</div>
