<% provide(:title, "Portfolio") %>

<!-- PAGE HEADER -->
	<section id="page-header">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-title">
						<h1>Portfolio</h1>
						<span class="st-border"></span>
					</div>
				</div>
			</div>
		</div>
	</section><!-- /PAGE HEADER -->

<!-- OUR WORKS -->
<section id="our-works">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h1>My Projects</h1>
          <span class="st-border"></span>
        </div>
      </div>

      <div class="portfolio-wrapper" >
        <div class="col-md-12">
          <ul class="filter">
            <li><a class="active" href="#" data-filter="*">All</a></li>
            <li><a href="#" data-filter=".wordpress">HTML</a></li>
            <li><a href="#" data-filter=".html">CSS</a></li>
            <li><a href="#" data-filter=".graphic">Ruby</a></li>
            <li><a href="#" data-filter=".php">Rails</a></li>
            <li><a href="#" data-filter=".bootstrap">SQL</a></li>
            <li><a href="#" data-filter=".bootstrap">JavaScript</a></li>
            <li><a href="#" data-filter=".bootstrap">ReactJS</a></li>
          </ul>
        </div>

        <div class="portfolio-items">

          <div class="col-md-4 col-sm-6 work-grid wordpress graphic">
            <div class="portfolio-content">
              <!-- <img class="img-responsive" src="images/works/portfolio-1.jpg" alt=""> -->
              <%= image_tag("works/portfolio-1.jpg", class: "img-responsive", alt: "") %>
              <div class="portfolio-overlay">
                <a href="assets/works/portfolio-1.jpg"><i class="fa fa-camera-retro"></i></a>
                <h5>Web Development</h5>
                <p>Design, Develop</p>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 work-grid html php bootstrap">
            <div class="portfolio-content">
              <!-- <img class="img-responsive" src="images/works/portfolio-2.jpg" alt=""> -->
              <%= image_tag("works/portfolio-2.jpg", class: "img-responsive", alt: "") %>
              <div class="portfolio-overlay">
                <a href="assets/works/portfolio-2.jpg"><i class="fa fa-camera-retro"></i></a>
                <h5>Web Development</h5>
                <p>Design, Develop</p>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 work-grid wordpress graphic">
            <div class="portfolio-content">
              <!-- <img class="img-responsive" src="images/works/portfolio-3.jpg" alt=""> -->
              <%= image_tag("works/portfolio-3.jpg", class: "img-responsive", alt: "") %>
              <div class="portfolio-overlay">
                <a href="assets/works/portfolio-3.jpg"><i class="fa fa-camera-retro"></i></a>
                <h5>Web Development</h5>
                <p>Design, Develop</p>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 work-grid html php bootstrap">
            <div class="portfolio-content">
              <!-- <img class="img-responsive" src="images/works/portfolio-4.jpg" alt=""> -->
              <%= image_tag("works/portfolio-4.jpg", class: "img-responsive", alt: "") %>
              <div class="portfolio-overlay">
                <a href="assets/works/portfolio-4.jpg"><i class="fa fa-camera-retro"></i></a>
                <h5>Web Development</h5>
                <p>Design, Develop</p>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 work-grid wordpress graphic php">
            <div class="portfolio-content">
              <!-- <img class="img-responsive" src="images/works/portfolio-5.jpg" alt=""> -->
              <%= image_tag("works/portfolio-5.jpg", class: "img-responsive", alt: "") %>
              <div class="portfolio-overlay">
                <a href="assets/works/portfolio-5.jpg"><i class="fa fa-camera-retro"></i></a>
                <h5>Web Development</h5>
                <p>Design, Develop</p>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 work-grid html bootstrap graphic">
            <div class="portfolio-content">
              <!-- <img class="img-responsive" src="images/works/portfolio-6.jpg" alt=""> -->
              <%= image_tag("works/portfolio-6.jpg", class: "img-responsive", alt: "") %>
              <div class="portfolio-overlay">
                <a href="assets/works/portfolio-6.jpg"><i class="fa fa-camera-retro"></i></a>
                <h5>Web Development</h5>
                <p>Design, Develop</p>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</section>
