<%= form_for @post do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="row">
    <div class="form-group col-lg-4">
      <label>Title</label>
      <%= f.text_field :title, class: "form-control", placeholder: 'Your post title...' %>
    </div>
    <div class="clearfix"></div>
    <div class="form-group col-lg-12">
      <label>Content</label>
      <%= f.text_area :content, class: "form-control", rows: "16", placeholder: 'Your post content...' %>
    </div>
    <div class="form-group col-lg-12">
      <%= f.submit 'Save changes', class: "btn btn-default" %>
    </div>
  </div>
<% end %>
