<% provide(:title, "Post") %>

<!-- PAGE HEADER -->
	<section id="page-header">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-title">
						<h1>Post</h1>
						<span class="st-border"></span>
					</div>
				</div>
			</div>
		</div>
	</section><!-- /PAGE HEADER -->

	<!-- BLOG -->
	<section id="blog">
		<div class="container">
			<div class="row">
				<div class="col-md-9">
					<div class="single-blog">
						<article>
							<div class="post-thumb">
								<%= image_tag("blog/01.jpg", class: "img-responsive", alt: "") %>
							</div>
							<h4 class="post-title"><a href=""><%= @post.title %></a></h4>
							<div class="post-meta text-uppercase">

								<% if current_user.try(:admin?) %>
									<%= link_to edit_post_path(@post), class: "btn btn-default btn-xs" do %>
										<i class="glyphicon glyphicon-pencil"></i>
									<% end %>

				          <%= link_to @post, class: "btn btn-danger btn-xs", method: :delete, data: { confirm: "You sure?" } do %>
				            <i class="glyphicon glyphicon-trash"></i>
				          <% end %>
				        <% end %>

								<span class="post-created"><%= @post.created_at.strftime("%B %d, %Y") %></span>

								<!-- Post categories -->
								<% @post.categories.each do |category| %>
									<span>In <a href=""><%= category.name %></a></span>
							  <% end %>

								<span>By <a href=""><%= @post.user.email %></a></span>
							</div>

							<div class="post-article">
								<%= @post.content %>
							</div>
						</article>
					</div>
					<hr>
					<ul class="pager">
						<li class="previous"><a href="#" class="js-prev" data-id="<%= @post.id %>">&larr; Prev</a></li>

						<li class=""><%= link_to "Back", posts_path %></li>

						<li class="next"><a href="#" class="js-next" data-id="<%= @post.id %>">Next &rarr;</a></li>
					</ul>
				</div>

				<%= render 'shared/sidebar' %>

			</div>
		</div>
	</section>
