<% provide(:title, "Post") %>

<!-- PAGE HEADER -->
	<section id="page-header">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-title">
						<h1>Post</h1>
						<span class="st-border"></span>
					</div>
				</div>
			</div>
		</div>
	</section><!-- /PAGE HEADER -->

	<!-- BLOG -->
	<section id="blog">
		<div class="container">
			<div class="row">
				<div class="col-md-9">
					<div class="single-blog">
						<article>
							<div class="post-thumb">
								<%= image_tag("blog/01.jpg", class: "img-responsive", alt: "") %>
							</div>
							<h4 class="post-title"><a href=""><%= @post.title %></a></h4>
							<div class="post-meta text-uppercase">

								<% if current_user.try(:admin?) %>
									<%= link_to edit_post_path(@post), class: "btn btn-default btn-xs" do %>
										<i class="fa fa-pencil" aria-hidden="true"></i>
									<% end %>

				          <%= link_to @post, class: "btn btn-danger btn-xs", method: :delete, data: { confirm: "You sure?" } do %>
				            <i class="fa fa-trash-o" aria-hidden="true"></i>
				          <% end %>
				        <% end %>

								<span class="post-created"><%= @post.created_at.strftime("%B %d, %Y") %></span>

								<!-- Post categories -->
								<% @post.categories.each do |category| %>
									<span>In <a href=""><%= category.name %></a></span>
							  <% end %>

								<span>By <a href=""><%= @post.user.email %></a></span>
							</div>

							<div class="post-article">
								<%= @post.content %>
							</div>
						</article>
					</div>
					<hr>
					<ul class="pager">
						<li class="previous"><%= link_to raw("&larr; Prev"), "", class: "js-prev", "data-id": @post.id %></li>

						<li><%= link_to "Back", posts_path %></li>

						<li class="next"><%= link_to raw("Next &rarr;"), "", class: "js-next", "data-id": @post.id %></li>
					</ul>
					<hr>

					<!-- COMMENT FORM -->
					<div class="row">
						<div class="box">
							<div class="col-lg-12">

								<%= form_for([@post, @comment]) do |f| %>
									<%= render 'shared/error_messages', object: f.object %>
									<%= f.text_area :content, class: "form-control", rows: "4", placeholder: "Enter your comment here..." %> <br>
									<%= f.submit class: "form-control" %>
								<% end %>
							<!-- Display all comments -->
							<% @post.comments.each do |comment| %>
								<!-- Left-aligned media object -->
								<div class="media">
									<div class="media-left">
										<%= image_tag("https://unsplash.it/50", size: "60x60") %>
									</div>
									<div class="media-body">
										<h4 class="intro-text"><%= comment.user.name %></h4>
										<p class="postContent"><%= comment.content %></p>
									</div>
								</div>
								<hr>
								<% end %>

							</div>
						</div>
					</div>

				</div>

				<%= render 'shared/sidebar' %>

			</div>
		</div>
	</section>
