<!-- PAGE HEADER -->
	<section id="page-header">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-title">
						<h1>Post</h1>
						<span class="st-border"></span>
					</div>
				</div>
			</div>
		</div>
	</section><!-- /PAGE HEADER -->

	<!-- BLOG -->
	<section id="blog">
		<div class="container">
			<div class="row">
				<div class="col-md-9">
					<div class="single-blog">
						<article>
							<div class="post-thumb">
								<%= image_tag("blog/01.jpg", class: "img-responsive", alt: "") %>
							</div>
							<h4 class="post-title"><a href=""><%= @post.title %></a></h4>
							<div class="post-meta text-uppercase">

								<% if current_user.try(:admin?) %>


				          <%= link_to @post, class: "btn btn-danger btn-xs", method: :delete, data: { confirm: "You sure?" } do %>
				            <i class="glyphicon glyphicon-trash"></i>
				          <% end %>
				        <% end %>

								<span><%= @post.created_at.strftime("%B %d, %Y") %></span>
								<span>In <a href="">Design</a></span>
								<span>By <a href=""><%= @post.user.email %></a></span>
							</div>
							<div class="post-article">
								<%= @post.content %>
							</div>
							<!-- <a href="" class="btn btn-readmore">Read More</a> -->
						</article>
					</div>
					<hr>
					<ul class="pagination">
						<li><a href="#"><i class="fa fa-angle-left"></i></a></li>
						<li class="active"><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#"><i class="fa fa-angle-right"></i></a></li>
					</ul>
				</div>

				<%= render 'shared/sidebar' %>

			</div>
		</div>
	</section>
